.edit-btn {
    align-self: flex-end;
    border: none;
    /* padding: 5px 10px;
    margin-top: 5px; */
  }

.delete-btn {
    align-self: flex-end;
    border: none;
    /* border-radius: 2px;
    padding: 5px 18px; */
  }
  
  